* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: #ffffff;
    color: #222;
    padding: 16px;
    max-width: 375px;
}

.button {
    position: sticky;
    top: 10px;

    display: block;
    width: fit-content;
    margin: 0 auto 20px auto;
    padding: 6px 14px;

    background: white;
    color: black;
    text-decoration: none;
    font-size: 14px;

    border: 2px solid black;

    z-index: 1000;
}

#title {
    background-image: url("title.jpg");
    background-size: cover;
    background-position: bottom center;
    color: white;
    height: 360px;
    padding: 40px 20px;
    margin-bottom: 24px;
    text-align: center;
}

#title h1 {
    font-size: 28px;
    margin-bottom: 10px;
    
}

#title h2 {
    font-size: 16px;
    font-weight: normal;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

ul {
    margin-bottom: 24px;
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

#steps {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100%;
    height: auto;
}

.steps p {
    margin-bottom: 8px;
    text-align: left;
}

#steps img {
    width: 100%;
    height: auto;
    display: block;
}

#acknowledgements {
    margin-top: 30px;
    font-size: 12px;
    color: #666;
}

/*-----------------------------------------------------------------------------------------------------------------------------*/

@media (min-width: 900px) {

    body {
        max-width: 1100px;
        margin: 0 auto;
        font-size: 25px;
    }

    .button {
        margin-right: 10px;
    }

    #title {
        height: 1100px;
    }
    
    #title h1 {
        font-size: 48px;
    }

    #title h2 {
        font-size: 22px;
    }

    h3 {
        font-size: 36px;
    }

    h3,
    ul,
    #steps {
        margin-top: 40px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
    }

    #steps img {
        max-height: 1100px;
    }

    #acknowledgements {
        text-align: center;
    }
}