* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.image {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

body.darkMode .image {
    filter: brightness(0.6);
}

body.darkMode {
    background-color: #2f6f3e;
}

.section1 {
    background-image: url("closeup2.jpeg");
}

.section2 {
    background-image: url("closeup1.jpeg");
}

.section3 {
    background-image: url("fullshot.jpeg");
}

.overlay {
    background: rgba(0, 0, 0, 0);
    padding: 2rem;
    width: 100%;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1rem;
    font-style: italic;
    margin-top: 0.5rem;
}

p {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

#toggleDarkMode {
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

/*
-----------------------------------------------------------------------------------------------------------------------------------------
*/

@media (min-width: 768px) {

    body {
        background-color: white;
        color: #2f6f3e;
    }

    body.darkMode {
    background-color: #2f6f3e;
    color: white;
    }

    .image {
        height: auto;
        background-image: none;
        padding: 3rem 1rem;
        color: #2f6f3e;
    }

    body.darkMode .image{
        color: white;
    }

    .section1 {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        align-items: center;
    }

    .section1::before {
        content: "";
        background-image: url("closeup2.jpeg");
        background-size: cover;
        background-position: center;
        height: 400px;
    }

    .section1::after {
        content: "";
        background-image: url("closeup1.jpeg");
        background-size: cover;
        background-position: center;
        height: 400px;
    }

    .overlay {
        background: none;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.2rem;
        font-style: italic;
    }

    p {
        font-size: 1.4rem;
    }

    .section3 {
        background-image: none;
        height: auto;
        padding-top: 0;
    }

    .fullshot-desktop {
    background-image: url("fullshot.jpeg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    }

}