body {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.image-row img {
  width: 50vh;
  height: auto;
}

/*-------------------------------------------------NAV BAR------------------------------------------------------------*/

nav {
    width: 100%;
    background: #FFF;
    border: 1px solid #000;
    position: sticky;
    top: 0;
    z-index: 1000;
}

#navBurger {
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    font-weight: semi-bold;
    pointer-events: none;
    border-bottom: 1px solid #000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav > ul > li {
    flex: 1;
    text-align: center;
    position: relative;
    border-left: 1px solid #000;
}

nav > ul > li:first-child {
    border-left: none;
}

nav a {
    display: block;
    padding: 15px;
    color: #000;
    text-decoration: none;
}

nav a:hover {
    background: #f5f5f5;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    flex-direction: column;
    background: #fff;
    border: 1px solid #000;
}

nav > ul > li.clicked > ul {
    display: flex;
}

nav ul ul li {
    border-top: 1px solid #666;
}

/*-------------------------------------------------DESKTOP------------------------------------------------------------*/

@media (min-width: 900px) {
.image-row {
  gap: 20px;
}
}