body {
  overflow: hidden;
  color: white;
  text-align: center;
}

a {
  color: white;
}

/*------------------------------------------------------------ CONQUERED CRATER -------------------------------------------*/

#conqueredcrater {
  position: relative;
      height: 100vh;
      background-image: url('backgrounds/conqueredcrater.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

.toghosttown {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.toghosttown img {
  width: 10vh;
  display: block;
}

.tolakesidecabin {
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.tolakesidecabin img {
  width: 10vh;
  display: block;
}

/*------------------------------------------------------------ GHOST TOWN -------------------------------------------*/

#ghosttown {
  position: relative;
      height: 100vh;
      background-image: url('backgrounds/ghosttown.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .toconqueredcraterfromghosttown {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.toconqueredcraterfromghosttown img {
  width: 10vh;
  display: block;
}

  /*------------------------------------------------------------ Lakeside Cabin -------------------------------------------*/

#lakesidecabin {
  position: relative;
      height: 100vh;
      background-image: url('backgrounds/lakesidecabin.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    .toconqueredcraterfromlakesidecabin {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.toconqueredcraterfromlakesidecabin img {
  width: 10vh;
  display: block;
}

/*------------------------------------------------------------ The Peak -------------------------------------------*/

#thepeak {
  position: relative;
      height: 100vh;
      background-image: url('backgrounds/thepeak.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }