html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

[data-scroll-container] {
  overflow: hidden;
}

.panel {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

img {
  width: 75%;
  display: block;
}

.container {
    height: 100vh;
}