main {
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 0.75rem;
    font-style: italic;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.2rem;
    line-height: 2.5rem;
    width: 50%;
}

p.callout {
    font-size: 2re;
    line-height: auto;
    font-style: italic;
}